{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/datatable.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/menu.css') }}">
{% endblock %}

{% block scripts %}
  <script src="{{ asset('scripts/submenu.js') }}"></script>
  <script src="{{ asset('scripts/pages/defaultDetailPage.js') }}"></script>
  {#    <script src="{{ asset('scripts/datatable.js') }}"></script>#}
  {#    <script src="{{ asset('scripts/pages/account.js') }}"></script>#}
{% endblock %}

{% block content %}
  <div class="profile-menu-wrapper">
    <section id="menu-title">
      <h1>{{ user.name }} [{{ user.id }}]</h1>
    </section>
    <nav class="user-nav" id="sub-nav">
      <button id="dropbtn" class="sub-menu-controller">
        Accounts
        <span class="material-icons">
                arrow_drop_down
              </span>
      </button>
      <div class="sub-menu">
        {{ include('profile/_menu.html.twig') }}
      </div>
    </nav>
  </div>
<div class="profile-content-wrapper">
<section id="actions" class="info-card">
  <section id="profile-table" class="table-card">
    <div class="table-wrapper">
      <section class="above-table">
        <form action="#" class="table-filter">
          <input class="input-underline" type="text" name="name" id="filter" placeholder="Search by name...">
          <button type="submit">Find</button>
        </form>
      </section>

      {% set create_account_temp = is_granted('create_account_temp') %}

    {% if accounts|length > 0 %}
      <section id="table-accounts" class="table">
        <section class="table-row table-header">
          <ol>
            <li class="id">Id</li>
            <li class="username">Username</li>
            <li class="expiration">Expiration</li>
            {% if create_account_temp %}
            <li class="edit">Edit</li>
            <li class="delete">Delete</li>
            {% endif %}
          </ol>
        </section>
        <section class="table-content">
          {% for account in accounts %}
            <article class="table-row">
              <ol>
                <li class="id">
                  {{ account.id }}
                </li>
                <li class="name">
                    {{ account.username }}
                </li>
                <li class="expiration">
                  {{ account.expiration ? account.expiration|date('Y-m-d H:i:s') : 'Never' }}
                </li>
                {% if create_account_temp %}
                  {% set edit_account = is_granted('edit', account)  %}
                  <li class="edit">
                  {% if edit_account %}
                  <form action="{{ path('account_edit', {'id': account.id}) }}" method="GET">
                      <button class="btn">Edit</button>
                  </form>
                  {% endif %}
                </li>
                <li class="delete">
                  {% if edit_account %}
                    {{ include('account/_delete_form.html.twig') }}
                  {% endif %}
                </li>
                {% endif %}
              </ol>
            </article>
          {% endfor %}

        </section>
      </section>
    {% else %}
      <h2>No records found</h2>
    {% endif %}
    <section class="bellow-table">
      {% if pages >= 1 %}
        <nav>
          <ol class="pages">
            {% for i in 1..pages %}
              <li>
                <a {% if i == current %} class="active-page" {% endif %}
                        data-page="{{ i }}"
                        href="{{ path('profile_accounts', params + {'page' : i} + {'id' : user.id}) }}"> {# urlParams +  #}
                  {{ i }}
                </a>
              </li>
            {% endfor %}
          </ol>
        </nav>
      {% endif %}
    </section>
    </div>
  </section>
  </section>
  {% if is_granted('create_account_temp') %}
  <section id="actions" class="info-card">
    <h2>Actions</h2>
    <ul id="action-list">
      <li>
        <a href="{{ path('account_new_profile', {'id': user.id, 'user': user}) }}">Add {% if not(is_granted('create_account')) %}temporary{% endif%} account</a>
      </li>
    </ul>
  </section>
  {% endif %}
</div>
{% endblock %}
