{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/datatable.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/calendar.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/menu.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ asset('scripts/submenu.js') }}"></script>
    <script src="{{ asset('scripts/pages/defaultDetailPage.js') }}"></script>
    <script src="{{ asset('scripts/pages/reservations/detailDateFilter.js') }}"></script>
    <script src="{{ asset('scripts/calendar.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="profile-menu-wrapper">
    <section id="go-back">
      <a href="{{ path('room_index') }}"><div class="material-icons">arrow_back</div><br>Rooms</a>
    </section>
    <section id="menu-title">
      <h1>{{ room.name }} [{{ room.id }}]</h1>
    </section>
    <nav class="user-nav" id="sub-nav">
      <button id="dropbtn" class="sub-menu-controller">
        Reservations
        <span class="material-icons">
                arrow_drop_down
              </span>
      </button>
      <div class="sub-menu">
        {{ include('room/_menu.html.twig') }}
      </div>
    </nav>

  </div>
<div class="profile-content-wrapper">
<section id="profile" class="info-card">
  <section id="profile-table" class="table-card">
    <div class="table-wrapper">
      <section class="above-table">
        
        {% if is_granted('admin', room) %}
      <div class="filters">
        <div>
          FILTER BY RESERVATION STATUS:
          <ul class="status-filter">
            <li>
              {% set status = params.status ?? "all" %}
              <a {% if status == "all"  %} class="active-status-filter" {% endif %} href="{{ path('room_reservations', {'id' : room.id} + params | merge({'status' : 'all'})) }}">All</a>
              <a {% if status == "approved" %} class="active-status-filter" {% endif %} href="{{ path('room_reservations', {'id' : room.id} + params | merge({'status' : 'approved'})) }}">Approved</a>
              <a {% if status == "waiting" %} class="active-status-filter" {% endif %} href="{{ path('room_reservations', {'id' : room.id} + params | merge({'status' : 'waiting'})) }}">Waiting</a>
              <a {% if status == "cancelled" %} class="active-status-filter" {% endif %} href="{{ path('room_reservations', {'id' : room.id} + params | merge({'status' : 'cancelled'})) }}">Cancelled</a>
            </li>
          </ul>
        </div>
      </div>
      <br><br>
      {% endif %}

        <div class="filters-section">
                    
        <div class='date-filter'>
        <div class='main-filter'>
            <button 
                class="date-search-toggle"
                id="toggle-date-start"
                onclick="toggleHidden(['date-start','date-search-submit'],['toggle-date-start'])">
                    Choose start date
            </button>

            <div class="calendar-wrapper" id="date-start">
                <h3>Search by start date</h3>
                <table class="calendar">
                    <thead id="calendar-control">
                        <tr class="calendar-date color-row">
                            <th colspan="7">
                                <button id="prev-month" class="calendar-change-month"><</button>
                                <span id="month"></span>
                                    - 
                                <span id="year">2021</span>
                                <button id="next-month" class="calendar-change-month">></button>
                            </th>
                        </tr>
                        <tr id="week-days">
                            <th>PO</th>
                            <th>UT</th>
                            <th>ST</th>
                            <th>CT</th>
                            <th>PA</th>
                            <th>SO</th>
                            <th>NE</th>
                        </tr>
                    </thead>
                    <tbody id="calendar-data">   
                    </tbody>
                </table>
            </div>


            <button 
                class="date-search-toggle"
                id="toggle-date-end"
                onclick="toggleHidden(['date-end','date-search-submit'],['toggle-date-end'])">
                    Choose end date
            </button>


            <div class="calendar-wrapper" id="date-end">
                <h3>Search by end date</h3>
                <table class="calendar">
                    <thead id="calendar-control">
                        <tr class="calendar-date color-row">
                            <th colspan="7">
                                <button id="prev-month" class="calendar-change-month"><</button>
                                <span id="month"></span>
                                    - 
                                <span id="year">2021</span>
                                <button id="next-month" class="calendar-change-month">></button>
                            </th>
                        </tr>
                        <tr id="week-days">
                            <th>PO</th>
                            <th>UT</th>
                            <th>ST</th>
                            <th>CT</th>
                            <th>PA</th>
                            <th>SO</th>
                            <th>NE</th>
                        </tr>
                    </thead>
                    <tbody id="calendar-data">
                    </tbody>
                </table>
            </div>
        </div>
        <button id="date-search-submit">
            Submit
        </button>
        </div>

                </div>

      </section>

      
    {% if reservations|length > 0 %}
      <section id="table-accounts" class="table">
        <section class="table-row table-header">
          <ol>
            <li class="id">Id</li>
            <li class="start">Start</li>
            <li class="start">Until</li>
          </ol>
        </section>
        <section class="table-content">
          {% for reservation in reservations %}
            <article class="table-row">
              <ol>
                <li class="id">
                  {{ reservation.id }}
                </li>
                <li class="start">
                  {{ reservation.start ? reservation.start|date('Y-m-d H:i:s') : '' }}
                </li>
                <li class="until">
                  {{ reservation.until ? reservation.until|date('Y-m-d H:i:s') : '' }}
                </li>
              </ol>
            </article>
          {% endfor %}

        </section>
      </section>
    {% else %}
      <h2>No records found</h2>
    {% endif %}
    <section class="bellow-table">
      {% if pages >= 1 %}
        <nav>
          <ol class="pages">
            {% for i in 1..pages %}
              <li>
                <a {% if i == current %} class="active-page" {% endif %}
                        data-page="{{ i }}"
                        href="{{ path('room_reservations', params + {'page' : i} + {'id' : room.id}) }}"> {# urlParams +  #}
                  {{ i }}
                </a>
              </li>
            {% endfor %}
          </ol>
        </nav>
      {% endif %}
    </section>
    </div>
  </section>
  </section>
  {% if is_granted('reserve', room) %}
  <section id="actions" class="info-card">
    <h2>Actions</h2>
    <ul id="action-list">
      <li>
        <a href="{{ path('reservation_new_room', {'room': room.id}) }}">Create new reservation</a>
      </li>
    </ul>
  </section>
  {% endif %}
</div>
{% endblock %}
