{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/datatable.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/menu.css') }}">
{% endblock %}

{% block scripts %}
  <script src="{{ asset('scripts/datatable.js') }}"></script>
  <script src="{{ asset('scripts/detail.js') }}"></script>
  <script src="{{ asset('scripts/submenu.js') }}"></script>
  <script src="{{ asset('scripts/pages/defaultDetailPage.js') }}"></script>
  <script src="{{ asset('scripts/pages/groups/addMembers.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="profile-menu-wrapper">
    <section id="go-back">
      <a href="{{ path('group_users', {'id': group.id}) }}"><div class="material-icons">arrow_back</div><br>Group users</a>
    </section>
    <section id="menu-title">
      <h1>{{ group.name }} [{{ group.id }}]</h1>
    </section>
    <nav class="user-nav" id="sub-nav">
      <button id="dropbtn" class="sub-menu-controller">
        Add Users
        <span class="material-icons">
                arrow_drop_down
            </span>
      </button>
      <div class="sub-menu">
        {{ include('group/_menu.html.twig') }}
      </div>
    </nav>
  </div>
  <div class="profile-content-wrapper">
    <section id="profile-table" class="table-card">
      <div class="table-wrapper">
        <section class="above-table">
          <form action="#" class="table-filter" id="search-form-group-users-add">
            <input class="input-underline" type="text" name="name" id="filter" value="{{ params.name ?? ""}}"  placeholder="Search by name...">
            <button type="submit">Find</button>
          </form>
        </section>

        {% if users|length > 0 %}
          <section id="table-group-members-add"
                   data-group-id="{{ group.id }}"
                  {% if is_granted('ROLE_ADMIN') %} data-auth-admin="1" {% endif %}
                   class="table">
            <section class="table-row table-header">
              <ol>
                <li class="id">Id</li>
                <li class="username">Name</li>
                <li class="add">Add manager</li>
                <li class="add">Add member</li>
              </ol>
            </section>
            <section class="table-content">
              {% for user in users %}
                <article class="table-row">
                  <ol>
                    <li class="id">
                      {{ user.id }}
                    </li>
                    <li class="name">
                      {{ user.name }}
                    </li>
                    <li class="add">
                      <form method="POST">
                        <label>
                          <input type="text" name="addUserId" value="{{ user.id }}" hidden/>
                        </label>
                        <label>
                          <input type="text" name="manager" value="1" hidden/>
                        </label>
                        <button type="submit">ADD MANAGER</button>
                      </form>
                    </li>
                    <li class="add">
                      <form method="POST">
                        <label>
                          <input type="text" name="addUserId" value="{{ user.id }}" hidden/>
                        </label>
                        <label>
                          <input type="text" name="manager" value="0" hidden/>
                        </label>
                        <button type="submit">ADD MEMBER</button>
                      </form>
                    </li>
                  </ol>
                </article>
              {% endfor %}

            </section>
          </section>
        {% else %}
          <h2>No records found</h2>
        {% endif %}
        <section class="bellow-table">
          {% if pages >= 1 %}
            <nav>
              <ol class="pages"  id="pages-group-members-add">
                {% for i in 1..pages %}
                  <li>
                    <a {% if i == current %} class="active-page" {% endif %}
                            data-page="{{ i }}"
                            href="{{ path('group_users_add', params + {'page' : i} + {'id' : group.id}) }}"> {# urlParams +  #}
                      {{ i }}
                    </a>
                  </li>
                {% endfor %}
              </ol>
            </nav>
          {% endif %}
        </section>
      </div>
    </section>
  </div>
{% endblock %}
